@*@page "/ranking"

@using Tournament_Results.Controllers
@using Tournament_Results.Models
@using Tournament_Results.ViewModels

@inject IATPRankingController atpRankingService

<div>
    <h3>ATP Ranking</h3>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>PLAYERS</th>
                @foreach (Tournament tournament in tournaments)
                {
                    if (tournament.IsPremier)
                    {
                        <th class="major">@tournament.Title</th>
                    }
                    else
                    {
                        <th class="premier">@tournament.Title</th>
                    }
                    //expand view: 
                }
                <th>RANKING</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in players)
            {
                <tr>
                    <td>@incrementPlacing</td>
                    <td>@player.Tag</td>
                    @for (int i = 0; i < tournaments.Count(); i++)
                    {
                        <td>
                            @player.Placings[i].Value;
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

    <button class="btn-primary" @onclick="ChangePointsDisplay">
        btnPointsText
    </button>
</div>

@code {
    private IEnumerable<Tournament> tournaments;
    private IEnumerable<PlayerRankingVM> players;
    private string startDate = "2006-03-01";
    private string endDate = "2006-12-31";

    private bool showPoints;
    private string btnPointsText = "Show placings";
    private int incrementPlacing = 1;

    protected override async Task OnParametersSetAsync()
    {
        var ranking = await atpRankingService.ReadATPRanking(startDate, endDate);
        tournaments = ranking.Tournaments;
        players = ranking.Players;

       // players.OrderByDescending(p => p.SumOfPoints);
    }

    private void ChangePointsDisplay()
    {
        showPoints = !showPoints;
        btnPointsText = showPoints ? "Show placings" : "Show points";
    }
}*@